#inputSearch {
    outline: none !important;
    outline-style: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

.md-toolbar-tools .layout-row .custom {
    background-color: rgb(155, 156, 165);
}