<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.css">
</head>
<body ng-app="myApp" ng-cloak>
  <!--
    Your HTML content here
  -->  
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('BlankApp', ['ngMaterial']);
  </script>
  
  <md-toolbar class="md-menu-toolbar _md _md-toolbar-transitions md-has-open-menu">
    <md-menu-bar>
        <md-menu class="md-menu ng-scope _md">
            <md-button ng-click="$mdMenu.open($event)" class="md-icon-button"> 
                Add
            </md-button>
            <md-menu-content class="md-menu-bar-menu md-dense" role="menu">
                <md-menu-item class="md-in-menu-bar">
                    <md-button class="md-button md-ink-ripple" ng-click="doSomething()" role="menuitem">
                        Share
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button class="md-button md-ink-ripple" role="menuitem">
                        Open...
                    </md-button>
                </md-menu-item>
            </md-menu-content>
            <md-button>
                User
            </md-button>
            <md-button>
                Help
            </md-button>
        </md-menu>
    </md-menu-bar>
</md-toolbar>
<script type="text/javascript" src="app.js"></script>
</body>
</html>
