<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.css">
    <link rel="stylesheet" href="a.css">
    <link href="node_modules/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="myApp" ng-cloak>
    <!--
    Your HTML content here
  -->

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <!-- Angular Material table-->
    <script type="text/javascript" src="node_modules/angular-material-data-table/dist/md-data-table.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
    <md-card>
        <div ng-cloak="" class="menuBardemoBasicUsage">
            <md-toolbar class="md-menu-toolbar">
                <div layout="row">
                    <md-toolbar-filler layout="row">
                        <md-icon ng-bind="'library_music'"></md-icon>
                    </md-toolbar-filler>
                    <div>
                        <h2 class="md-toolbar-tools">Music Manager</h2>

                        <md-menu-bar layout="row" layout-align="start start">
                            <md-menu>
                                <md-button class="md-raised" ng-click="$mdMenu.open()">
                                    File
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-menu>
                                            <md-button ng-click="$mdOpenMenu()">
                                                Add
                                            </md-button>
                                            <md-menu-content>
                                                <md-menu-item>
                                                    <md-button ng-click="ctrl.sampleAction('share', $event)">
                                                        Add song
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item>
                                                    <md-button>
                                                        Add category
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </md-menu-item>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button>
                                            Logout
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            <md-menu>
                                <md-button class="md-raised" ng-click="$mdOpenMenu()">
                                    User
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button>
                                            Update Infomation
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button>
                                            Change Password
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                            <md-menu>
                                <md-button class="md-raised" ng-click="$mdOpenMenu()">
                                    Help
                                </md-button>
                                <md-menu-content>
                                    <md-menu-item>
                                        <md-button>
                                            About
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button>
                                            Feedback
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </md-menu-bar>

                    </div>
                </div>
            </md-toolbar>
        </div>
    </md-card>
    <md-card ng-controller="getSongsCtrl">
        <h2>
            <md-icon ng-bind="'search'"></md-icon>
            <input id="inputSearch" ng-model="searchText" placeholder="search" class="ng-valid ng-touched ng-dirty ng-valid-parse">
            <!-- <md-progress-linear md-mode="indeterminate"></md-progress-linear> -->
        </h2>
        <div>
            <md-table-container>
                <table md-table md-row-select multiple md-progress="promise">
                    <thead md-head>
                        <tr md-row>
                            <th md-column md-order-by="nameToLower">Name</th>
                            <th md-column>Singer</th>
                            <th md-column>Musican</th>
                            <th md-column>Link</th>
                            <th md-column>Date Create</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-auto-select ng-repeat="song in songs | filter:{name:searchText} | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell>{{song.name}}</td>
                            <td md-cell>{{song.singer}}</td>
                            <td md-cell>{{song.musican}}</td>
                            <td md-cell>{{song.link}}</td>
                            <td md-cell>{{song.dateCreate}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
        <div>
            <md-table-pagination md-limit=query.limit md-limit-options="limitOptions" md-page=query.page md-total="{{songs.length}}" md-page-select=options.pageSelect md-boundary-links=true md-on-paginate="logPagination"></md-table-pagination>
        </div>
    </md-card>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="data/song/songController.js"></script>
    <script type="text/javascript" src="data/user/userController.js"></script>

</body>

</html>