<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <md-dialog>
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-title">Add Song</h2>
            <form layout="column">
                <div class="input-row layout-row" layout="row">
                    <md-input-container>
                        <label>Song name</label>
                        <input md-input class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched">
                        <div class="md-errors-spacer">
                            <div class="md-char-counter">0/20</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Singer</label>
                        <input md-input>
                        <div class="md-errors-spacer">
                            <div class="md-char-counter">0/20</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="input-row layout-row" layout="row">
                    <md-input-container>
                        <md-select ng-model="categories.category" placeholder="Category">
                            <md-option ng-value="category" ng-repeat="category in categories">{{category.title}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="input-row layout-row" layout="row">
                    <md-input-container>
                        <label>Musican</label>
                        <input md-input class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched">
                        <div class="md-errors-spacer">
                            <div class="md-char-counter">0/20</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Link</label>
                        <input md-input class="ng-pristine md-input ng-invalid ng-invalid-required ng-touched">
                        <div class="md-errors-spacer">
                            <div class="md-char-counter">0/20</div>
                        </div>
                    </md-input-container>
                </div>
            </form>
        </md-dialog-content>
        <div class="md-actions">
            <md-button class="md-primary md-button md-ink-ripple">
                ADD SONG
            </md-button>
            <md-button class="md-primary md-button md-ink-ripple">
                CANCEL
            </md-button>
        </div>
    </md-dialog>

</body>

</html>