<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <md-dialog>
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-title" layout="row" layout-align="center center">Add Song</h2>
            <form layout="column" class="ng-invalid ng-invalid-required ng-valid-min ng-valid-max ng-dirty ng-valid-parse ng-valid-md-maxlength">
                <div class="input-row layout-row" layout="row">
                    <md-input-container>
                        <label class="md-required">Song name</label>
                        <input md-input ng-model="song.name" class="ng-pristine md-input ng-invalid ng-invalid-required" md-maxlength="20">

                    </md-input-container>
                    <md-input-container>
                        <label>Singer</label>
                        <input md-input ng-model="song.singer" class="ng-pristine md-input ng-invalid ng-invalid-required" md-maxlength="20">
                    </md-input-container>
                </div>
                <div class="input-row layout-row" layout="row">
                    <md-input-container>
                        <md-select ng-model="categories.category" placeholder="Category">
                            <md-option ng-value="category" ng-repeat="category in categories">{{category.title}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="input-row layout-row" layout="row">
                    <md-input-container>
                        <label>Musican</label>
                        <input md-input ng-model="song.musican" class="ng-pristine md-input ng-invalid ng-invalid-required" md-maxlength="20">
                    </md-input-container>
                    <md-input-container>
                        <label class="md-required">Link</label>
                        <input md-input ng-model="song.link" class="ng-pristine md-input ng-invalid ng-invalid-required">
                    </md-input-container>
                </div>
            </form>
        </md-dialog-content>
        <div class="md-actions">
            <md-button class="md-primary md-button md-ink-ripple">
                ADD SONG
            </md-button>
            <md-button class="md-primary md-button md-ink-ripple">
                CANCEL
            </md-button>
        </div>
    </md-dialog>

</body>

</html>