<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>Login</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.css">
    <link rel="stylesheet" href="/MusicMGE/a.css">
    <link href="/MusicMGE/node_modules/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="myApp" class="loginBG">
    <div>
        <div layout="column" layout-align="center center" class="wrap layout-align-center-center layout-column">
            <div class="login-container layout-column" layout="column">
                <div class="layout-gt-sm-row layout-column" layout-gt-sm="row" layout="column">
                    <div class="login-leftpane layout-column flex-noshrink" layout="column" flex="noshrink">
                        <h2>Login</h2>
                    </div>
                    <div class="login-rightpane layout-column flex-noshrink" layout="column" flex="noshrink">
                        <div>
                            <form>
                                <md-input-container class="md-block md-input-invalid">
                                    <label class="md-required">
                                    Username
                                </label>
                                    <input class="ng-pristine md-input ng-empty ng-invalid ng-invalid-required ng-touched">
                                    <div class="md-errors-spacer"></div>
                                </md-input-container>
                                <md-input-container class="md-block md-input-invalid">
                                    <label class="md-required">
                                        Password
                                    </label>
                                    <input class="ng-pristine md-input ng-empty ng-invalid ng-invalid-required ng-touched">
                                    <div class="md-errors-spacer"></div>
                                </md-input-container>
                                <md-button class="md-raised md-primary login-btn md-button md-ink-ripple">
                                    <span>Sign In</span>
                                </md-button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <md-button class="md-raised">
            <a href="/MusicMGE/index.html">Log In</a>
        </md-button> -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <!-- Angular Material table-->
    <script type="text/javascript" src="/MusicMGE/node_modules/angular-material-data-table/dist/md-data-table.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>

    <script src="/MusicMGE/app.js"></script>
    <script src="../data/user/userController.js"></script>
</body>

</html>